@model lindaniDS.ViewModels.HireViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HireViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleHire.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleHire.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HireID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
