@model IEnumerable<lindaniDS.Models.BookingPackages>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.packageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.availabilityDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.packageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.availabilityDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.packageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.packageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.packageID })
        </td>
    </tr>
}

</table>
